.to-garage_btn, .to-winners_btn {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
}

.to-garage_btn {
  margin-right: 20px;
}

.navigate-page_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_modify-car {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 19px;
  font-weight: 600;
  background-color: rgb(117, 184, 123);
  margin-top: 20px;
}

input[type = 'submit'] {
  width: 100px;
  height: 40px;
  background-color: #273e28; /* Green */
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0 10px 0 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s ease;
}

input[type = 'submit']:hover {
  background-color: #395b3b;
}

input[type = "color"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type = "color"]::-webkit-color-swatch {
  border-radius: 15px;
  border: 2px solid #fb60ca;
}
input[type = "color"]::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.race-line {
  margin-top: 40px;
}

.car-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(35,213,217,1) 0%, rgba(99,204,175,1) 34%, rgba(51,162,33,1) 63%, rgba(98,125,92,1) 72%, rgba(52,43,43,1) 100%);
  overflow: hidden;
}

.car-container::before,
.car-container::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../../sources/images/spring-clouds.svg);
  background-repeat: repeat-x;
  animation: animateBackground 100s linear forwards infinite;
}

.car-container::before {
  animation: animateBackground 150s linear forwards infinite;
  animation-delay: -100s;
}

@keyframes animateBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 600px){
  input[type = 'submit'] {
    margin: 0;
    width: 60px;
  }
}