.form {
  width: 500px;
  display: flex;
  justify-content: left;
  padding: 20px;
  background-color: rgb(194, 217, 194);
  z-index: 1;
}

form {
  margin-top: 100px;
}

.label-input {
  width: 100px;
  font-size: 22px;
}

.button_submit {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 22px;
  background-color: rgb(129, 149, 129);
  color: #fff;
  transition: easy 0.7s;
}

.logout-btn {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 100px;
  height: 35px;
  font-size: 20px;
  background-color: rgb(194, 217, 194);
  border-radius: 10px;
  border: none;
}

.logout-btn:hover {
  background-color: rgb(226, 234, 226);
  cursor: pointer;
}

.button_submit:hover {
  background-color: rgb(147, 161, 147);
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
}

@media screen and (max-width: 950px) {
  .form {
    width: 90%;
  }
}
