body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(99, 91, 91, 0.088);
}

button {
  cursor: pointer;
}

#current-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #373434;
  color: #fff;
}

.footer-paragraph {
  margin-right: 20px;
}