body {
  background-color: #031b29;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  transition: 0.5s ease;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 600;
}

#current-page {
  background-color: #c0cfaa;
  padding: 10px;
}

.table-winners{
  background-color: #000;
  width: 30%;
  height: 150px;
}

.head-table{
  background-color: rgb(119, 185, 145);
}

.body-table {
  color: #fff;
}