@import "nullstyle.scss";
@import "modules.scss";
//npm run sass

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 40px;
  position: relative;
  background-color: rgb(219, 219, 174);
}

.gallows-container{
  width: 50%;
  position: relative;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
}

.gallows-image{
  width: 58%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
}

.container__part-body-elements{
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.head-container{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;

  .head-element{
    display: flex;
    visibility: hidden;
    width: 30%;
    border-radius: 100%;
    border: 5px solid #000;
  }
}

.body-container{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.body-element{
  display: flex;
  visibility: hidden;
  justify-content: center;
  height: 90%;
  width: 33%;
  font-weight: 600;
  font-size: 100px;
}

.left-hand {
  width: 33%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  font-weight: 800;
  font-size: 100px;
}

.right-hand{
  width: 33%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  font-weight: 800;
  font-size: 100px;
}

.legs-container{
  height: 50%;
  width: 100%;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
  align-content: center;
}

.left-leg {
  display: flex;
  visibility: hidden;
  font-size: 260px;
}

.right-leg {
  display: flex;
  visibility: hidden;
  font-size: 260px;
}

.quiz-container{
  width: 50%;
}

.quastion-container{
  @include flex($d: flex,$fd: column,$jc: center,$ai: center);
  width: 100%;
  height: 50%;
}

.question-text{
  font-size: 28px;
}

.number-hint{
  font-size: 28px;
  font-weight: 600;
}

.hint-container{
  width: 80%;
  height: 25%;
  display: flex;
  gap: 10px;
  font-size: 40px;
  margin-bottom: 25px;
}

.hint-letter{
  width: 25%;
  height: 100%;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
  text-align: center;
  border-bottom: 5px solid #000;
  color: rgb(219, 219, 174);
}

.guessed-letter{
  color: rgb(0, 0, 0);
}

.keyboard-container{
  height: 50%;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
}

.keyboard-container-letter{
  width: 95%;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
  background-color:rgb(70, 70, 56);
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  font-size: 30px;
  cursor: pointer;
}

.keyboard-letter{
  width: 9%;
  height: 50px;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
  background-color: #eae0eb;
  border: 1px solid#000;
  border-radius: 20px;
  translate: easy 0.3;
  transition: all 0.7s;

  &:hover{
    background-color: hsla(295, 6%, 42%, 0.5);
  }
}

.disabled {
  background-color: #999292;
  cursor: not-allowed;
}

.modal-container{
  width: 100%;
  height: 100%;
  @include flex($d: none,$fd: row,$jc: center,$ai: center);
  position: absolute;
  z-index: 2;
  background-color: hsl(0, 0%, 0%, 0.8);
}

.modal-window{
  width: 60%;
  height: 50%;
  @include flex($d: flex,$fd: column,$jc: center,$ai: center);
  text-align: center;
  border-radius: 50px;
  background-color: rgb(219, 219, 174);
  padding: 30px;
}

.modal-window__message{
  font-size: 40px;
}

.modal-window__meesage-score{
  font-size: 25px;
  font-weight: 800;
}

.btn-play{
  width: 30%;
  height: 20%;
  padding: 5px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  border: 1px solid #999292;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.7s;
  margin-top: 30px;

  &:hover{
    background-color: #e6dede;
  }
}

@media screen and (max-width: 1100px){
  .modal-window{
    width: 80%;
    height: 60%;
  }

  .keyboard-container-letter{
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .container{
    padding: 20px;
  }

  .hint-container{
    width: 100%;
  }

  .keyboard-letter{
    height: 35px;
  }
}

@media screen and (max-width: 550px){
  .container{
    flex-direction: column;
  }

  .gallows-container, .quiz-container{
    width: 100%;
    height: 50%;
  }

  .legs-container{
    height: 40%;
  }

  .left-leg,.right-leg{
    font-size: 150px;
  }

  .question-text{
    font-size: 18px;
  }

  .number-hint{
    font-size: 18px;
  }

  .keyboard-container{
    padding-bottom: 50px;
  }

  .keyboard-container-letter{
    width: 95%;
  }

  .btn-play{
    width: 50%;
    height: 20%;
    font-size: 25px;
  }
}