* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, asider {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: -100%;
  -moz-text-size-adjust: -100%;
  -webkit-text-size-adjust: -100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --main-bg: url(../assets/images/bg-japan-light.webp);
  --dark-bg: url(../assets/images/bg-japan-dark.webp);
  --main-color: #103c53;
  --light-bg-color: #d9dac7;
  --dark-bg-color: #2c4352;
}

body {
  background-image: var(--main-bg);
  font-size: 22px;
  box-sizing: border-box;
  transition: background-image 0.5s;
  color: #000;
}
body.dark-mode {
  background-image: var(--dark-bg);
  color: var(--light-bg-color);
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}
h1.dark-mode {
  color: var(--light-bg-color);
}

h2 {
  font-size: 35px;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_game-tools {
  width: 85%;
  height: 25%;
  background-color: #d9dac7;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container_game-tools.dark-mode {
  background-color: #2c4352;
}
@media (max-width: 780px) {
  .container_game-tools {
    height: 30%;
  }
}
@media (max-width: 580px) {
  .container_game-tools {
    height: 40%;
  }
}

.nav-elements-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.nav-elements-container.dark-mode {
  color: var(--light-bg-color);
}
@media (max-width: 780px) {
  .nav-elements-container {
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    padding-top: 30px;
    background-color: var(--light-bg-color);
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 550px) {
  .nav-elements-container {
    height: fit-content;
    width: 100%;
  }
}
@media (max-width: 780px) {
  .nav-elements-container.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
  }
}

.nav-elements {
  width: 25%;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.7s;
  cursor: pointer;
}
.nav-elements:hover {
  letter-spacing: 3px;
}
@media (max-width: 780px) {
  .nav-elements {
    width: 100%;
  }
}
.nav-elements.drop-down_container:hover {
  letter-spacing: normal;
}
.nav-elements.drop-down_container:hover .drop-down_content {
  display: block;
}

.hide {
  display: flex;
}

.drop-down_container {
  position: relative;
  display: inline-block;
}

.drop-down_content {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 25px;
  display: none;
  text-align: left;
  background-color: var(--light-bg-color);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.7s;
}
.drop-down_content.dark-mode {
  background-color: var(--dark-bg-color);
}

.drop-element {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 20px;
  color: var(--main-color);
  cursor: pointer;
}
.drop-element:hover {
  background-color: var(--main-color);
  color: var(--light-bg-color);
}

.counter {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.game-container {
  width: 30%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #fff;
  border: 1px solid #000;
  margin-bottom: 40px;
}
@media (max-width: 1440px) {
  .game-container {
    width: 35%;
    height: 60%;
  }
}
@media (max-width: 1100px) {
  .game-container {
    width: 50%;
    height: 60%;
  }
}
@media (max-width: 780px) {
  .game-container {
    width: 80%;
  }
}
@media (max-width: 680px) {
  .game-container {
    width: 85%;
    height: 100%;
  }
}

.clues-column_container {
  background-color: rgb(214, 162, 162);
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.clues-column_container.dark-mode {
  background-color: var(--dark-bg-color);
}

.clues-rows_container {
  background-color: rgb(214, 162, 162);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 20%;
  height: 100%;
}
.clues-rows_container.dark-mode {
  background-color: var(--dark-bg-color);
}

.game-field_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  border: 2px solid #000;
}

.result-container {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
@media screen and (max-width: 650px) {
  .result-container {
    width: 80%;
  }
}

.game-field-fixing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.clues-rows__element-container {
  flex: 1;
  border: 1px solid #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.clues-rows__element {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
}

.clues-columns__element-container {
  border: 1px solid #000;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}

.clues-column__element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.column-field {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.row-field, .row-field-result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex: 1;
  font-size: 16px;
  cursor: pointer;
}

.row-field-result.fill-cell {
  border: none;
}

.row-field {
  border: 1px solid #000;
  background-color: #fff;
}

.fill-cell {
  background-color: #000;
  border: 1px solid #2c2b2b;
}

.switch-wrapper-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 20px;
}

.switch-wrapper {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-wrapper .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c8bbbb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  border: 2px solid #777070;
}

.switch-wrapper .switch-input:checked + .switch-slider {
  background-color: var(--dark-bg-color);
}

.switch-wrapper .switch-input:checked + .switch-slider:before {
  transform: translateX(26px);
}

.switch-slider.switch-round {
  border-radius: 34px;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: hsla(267, 16%, 11%, 0.46);
}

.modal-window {
  position: relative;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  padding: 30px;
  background-color: #7b676b;
  color: #b3b3b3;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), inset 0 2px 4px rgba(255, 255, 255, 0.1), inset 0 -2px 4px rgba(0, 0, 0, 0.4);
  transform: perspective(800px) translateZ(10px);
  transform-style: preserve-3d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.modal-window.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--light-bg-color);
}
@media screen and (max-width: 550px) {
  .modal-window {
    height: 90%;
    width: 90%;
  }
}

.button_next-game {
  font-size: 35px;
  text-transform: uppercase;
}
.button_next-game:hover {
  letter-spacing: 0.3;
}

.modal-window__message {
  font-size: 35px;
}

.close-modal {
  font-size: 60px;
  font-weight: 800;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-modal:hover {
  color: #7b7474;
}

@media (max-width: 780px) {
  .burger-container {
    width: 100px;
    height: 15px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .burger-element {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    background-color: var(--main-color);
  }
  .burger-element.dark-mode {
    background-color: var(--light-bg-color);
  }
}

/*# sourceMappingURL=style.css.map */
