@import "nullstyles.scss";
@import "modules.scss";
//npm run sass
body{
  font-size: 22px;
  box-sizing: border-box;
  background-color: #b7eeb4ac;
  transition: background-color 0.5s;
}

h1{
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

h2{
  font-size: 35px;
}

.main-container{
  width: 100%;
  height: 100%;
  @include flex($d: flex,$fd: column,$jc: center,$ai: center);
}

.container_game-tools{
  width: 80%;
  height: 25%;
  background-color: #40c2aa;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  @include flex($d: flex,$fd: column,$jc: space-between,$ai: center);
  @media (max-width: 780px){
    height: 30%;
  }
  @media (max-width: 580px){
    height: 40%;
  }
}

.button-container{
  width: 100%;
  @include flex($d: flex,$fd: row,$jc: space-between,$ai: center);
  @media (max-width: 580px){
    width: 100vw;
    flex-direction: column;
  }
}

.drop-down_container{
  width: 200px;
  position: relative;
  display: inline-block;
}

.drop-down_content{
  width: 100%;
  height: 300px;
  position: absolute;
  display: none;
  text-align: left;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 0.7s;
}

.button{
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.7s;
  cursor: pointer;
  &:hover{
    background-color: #f1f1f1;
    color: #7b7474;
  }
}

.drop-element{
  width: 100%;
  height: 40px;
  padding-left: 20px;
  color: #534545;
  cursor: pointer;
  &:hover{
    background-color: #726e6e;
  }
}

.show-drop-list{
  display: block;
}

.counter{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.game-container{
  width: 30%;
  height: 65%;
  @include flex($d: flex,$fd: column,$jc: flex-start,$ai: flex-end);
  background-color: #fff;
  border: 1px solid #000;
  @media (max-width: 1440px){
    width: 35%;
    height: 60%;
  }
  @media (max-width: 1100px){
    width: 50%;
    height: 60%;
  }
  @media (max-width: 780px){
    width: 80%;
  }
  @media (max-width: 680px){
    width: 85%;
    height: 55%;
  }
}

.clues-column_container{
  background-color: rgb(172, 172, 172);
  width: 80%;
  height: 30%;
  @include flex($d: flex,$fd: row,$jc: flex-end,$ai: flex-end);
}

.clues-rows_container{
  @include flex($d: flex,$fd: column,$jc: flex-start,$ai: flex-end);
  width: 20%;
  height: 100%;
}

.game-field_container{
  width: 80%;
  height: 100%;
  @include flex($d: flex,$fd: column,$jc: flex-start,$ai: flex-end);
  border: 2px solid #000;
}

.game-field-fixing{
  width: 100%;
  height: 100%;
  @include flex($d: flex,$fd: row,$jc: flex-start,$ai: flex-start);
}

.clues-rows__element-container{
  flex: 1;
  background-color: rgb(214, 162, 162);
  border: 1px solid #000;
  width: 100%;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
  padding-right: 5px;
}

.clues-rows__element{
  @include flex($d: flex,$fd: row,$jc: flex-end,$ai: center);
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
}

.clues-columns__element-container{
  background-color: rgb(214, 162, 162);
  border: 1px solid #000;
  flex: 1;
  height: 100%;
  @include flex($d: flex,$fd: column,$jc: flex-end,$ai: flex-start);
  padding-bottom: 5px;
}

.clues-column__element{
  @include flex($d: flex,$fd: column,$jc: flex-end,$ai: center);
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.column-field{
  width: 100%;
  flex: 1;
  @include flex($d: flex,$fd: row,$jc: flex-end,$ai: flex-start);
}

.row-field{
  width: 100%;
  height: 100%;
  @include flex($d: flex,$fd: row,$jc: center,$ai: center);
  border: 1px solid #000;
  flex: 1;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

.fill-cell{
  background-color: #000;
  border: 1px solid #2c2b2b;
}


/* juhuhujhjhjhjj */
.switch-wrapper {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-wrapper .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c8bbbb;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  border: 2px solid  #777070;
}

.switch-wrapper .switch-input:checked + .switch-slider {
  background-color: #010001;
}

.switch-wrapper .switch-input:checked + .switch-slider:before {
  transform: translateX(26px);
}


.switch-slider.switch-round {
  border-radius: 34px;
}

.dark-mode{
  background-color: #16322d;
}

.dark-mode-bg{
  background-color: #27927e;
}

.dark-clues{
  background-color: #045457;
  color: #fff;
}

.modal-container{
  width: 100%;
  height: 100%;
  @include flex($d: none,$fd: row,$jc: center,$ai: center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: hsla(267, 16%, 11%, 0.46);
}

.modal-window{
  position: relative;
  width: 80%;
  height: 70%;
  @include flex($d: flex,$fd: column,$jc: space-around,$ai: center);
  text-align: center;
  border-radius: 50px;
  background-color: rgb(243, 184, 238);
  padding: 30px;
}

.close-modal{
  font-size: 60px;
  font-weight: 800;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  &:hover{
    color: #7b7474;
  }
}