body {
  background-color: #edf2ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  background-color: rgb(225, 175, 175);
}

.header a {
  color: red;
  text-decoration: none;
  margin: 0 15px;
}
.header a:hover {
  color: rgb(51, 255, 0);
  text-decoration: none;
}
