body {
  background-color: #edf2ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  background-color: rgb(98, 112, 98);
}

.header a {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
}
.header a:hover {
  color: rgb(207, 216, 200);
  text-decoration: none;
}
